In [20]:
#import dependencies
import pandas as pd
import numpy as np

In [4]:
#read data into a pandas DataFrame
crowdfunding_data = pd.ExcelFile("..\crowdfunding.xlsx")

#get the sheets names
crowdfunding.sheet_names

['crowdfunding_info', 'contact_info']

In [5]:
#get crowdfunding_info from the crowdfunding_info worksheet
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name = "crowdfunding_info")
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [7]:
#get the contact_info from the contact_info worksheet
#increase width of the column
pd.set_option("max_colwidth", 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name="contact_info", header = 3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [10]:
#check tail() to see end of DFs was correctly loaded
#crowdfunding_info_df.tail()
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
679,1814,Davis Ltd,Synchronized motivating solution,1400,14511,successful,363,US,USD,1602392400,1617598800,False,True,food/food trucks
458,2964,"Wise, Thompson and Allen",Pre-emptive neutral portal,33800,118706,successful,2120,US,USD,1610776800,1628398800,False,False,theater/plays
468,2776,Hughes Inc,Streamlined neutral analyzer,4000,1620,failed,16,US,USD,1610863200,1611986400,False,False,theater/plays
15,505,"Wright, Hunt and Rowe",Extended eco-centric pricing structure,81200,38414,failed,452,US,USD,1635138000,1639634400,False,False,technology/wearables
254,1034,Barry Group,De-engineered static Local Area Network,4600,8505,successful,88,US,USD,1624510800,1630126800,False,False,publishing/nonfiction

In [11]:
#check tail() to see end of DFs was correctly loaded #2
#contact_info_df.tail()
contact_info_df.sample(n=5)

                                                                                   contact_info
553     {"contact_id": 3054, "name": "Geronimo Pechel", "email": "geronimo.pechel@hotmail.com"}
383                    {"contact_id": 4272, "name": "Jenna Day", "email": "jenna.day@reed.com"}
687  {"contact_id": 2881, "name": "Ansaldo Marks", "email": "ansaldo.marks@patel-odonnell.com"}
692            {"contact_id": 5734, "name": "Anna Freeman", "email": "anna.freeman@snyder.net"}
472             {"contact_id": 1568, "name": "Hanno Gollum", "email": "hanno.gollum@smith.com"}

In [12]:
#get brief description of the crowdfunding_info DF
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [13]:
#get brief description of the contact_info DF
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

We note that both DFs that were created, there are 1000 non-null rows, so we know that no null values exist.

In [14]:
#create unique values in the category and sub-category columns
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [15]:
#assign the category and subcat values to cat and subcat cols
crowdfunding_info_df[["category", "subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split("/", n = 1, expand = True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [16]:
#get distinct values in the cat and subcat cols
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [17]:
#get the unique cat and subcat in separate lists
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [23]:
#import numpy in cell 1
#create numpy arrays that have 1-10 for the cat_IDs and 1-25 for the subcat_IDs
categories_ids = np.arange(1,10)
subcategories_ids = np.arange(1,25)
print(categories_ids)
print()
print(subcategories_ids)

[1 2 3 4 5 6 7 8 9]

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [24]:
#use a list comprehension to add "cat0" to each catID
cat_ids = ["cat0" + str(cat_id) for cat_id in categories_ids]

#use list comprehension to add "scat0" to each subcatID
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategories_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [27]:
#create cat DF with cat_ids array as the categories_id and cat list as the cat name
category_df = pd.DataFrame({
    "category_id" : cat_ids,
    "category" : categories
})

#do same for scat
subcategory_df = pd.DataFrame({
    "subcategory_id" : scat_ids,
    "subcategory" : subcategories
})
#category_df
subcategory_df

   subcategory_id        subcategory
0          scat01        food trucks
1          scat02               rock
2          scat03                web
3          scat04              plays
4          scat05        documentary
5          scat06     electric music
6          scat07              drama
7          scat08         indie rock
8          scat09          wearables
9         scat010         nonfiction
10        scat011          animation
11        scat012        video games
12        scat013             shorts
13        scat014            fiction
14        scat015  photography books
15        scat016   radio & podcasts
16        scat017              metal
17        scat018               jazz
18        scat019       translations
19        scat020         television
20        scat021       mobile games
21        scat022        world music
22        scat023    science fiction
23        scat024              audio

In [28]:
#export both DFs as csv files
category_df.to_csv("categories.csv", index = False)
subcategory_df.to_csv("subcategories.csv", index = False)